$heading-font-family: "Ginka", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: "Ginka", "Review", serif
$heading-font-family-alt: "Review"

$header-background: var(--color-background)
$header-sticky-background: var(--color-text)
$header-sticky-color: var(--color-background)
$header-sticky-invert-logo: true
$header-border-bottom-width: 0
// $hero-background-color: none

$color-background-alt: #B2FCE4
$color-accent: #E30E20
$color-text-alt: var(--color-text)
$color-border: $color-background-alt

$header-logo-height-desktop: pxToRem(100)
$header-logo-height: auto
$footer-logo-height-desktop: pxToRem(100)
$footer-logo-height: auto
$footer-background-color: var(--color-text)
$footer-color: var(--color-background)

$grid-gutter: pxToRem(24)
$grid-gutter-lg: pxToRem(24)
$grid-gutter-xxl: pxToRem(32)

$article-media-aspect-ratio: 1

$h1-size-desktop: pxToRem(80)
$h1-line-height-desktop: 1
$h1-font-family: $heading-font-family-alt
$h1-weight: normal

$h2-size-desktop: pxToRem(50)
$h2-line-height-desktop: 1

$h3-size-desktop: pxToRem(35)
$h3-style: italic
$h3-weight: normal
$h3-font-family: $heading-font-family-alt
$h3-line-height-desktop: 1

$h4-size-desktop: pxToRem(30)
$h4-font-family: $heading-font-family-alt
$h4-weight: normal
$h4-line-height-desktop: 1

$block-call-to-action-accent-background: var(--color-text)
$block-chapter-layout-accent-background: var(--color-text)
