$heading-font-family: "Ginka", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$color-background-alt: #B2FCE4
$color-accent: #E30E20

$header-logo-height-desktop: pxToRem(100)
$header-logo-height: auto
$footer-logo-height-desktop: pxToRem(100)
$footer-logo-height: auto
$footer-background-color: var(--color-background-alt)

$grid-gutter: pxToRem(24)
$grid-gutter-lg: pxToRem(24)
$grid-gutter-xxl: pxToRem(24)
